h1 {
  margin-top: 50px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  text-align: center;
}
h2{
    font-family: "Bebas Neue", sans-serif;
}
.main-title {
  font-size: 80px;
}
.sub-title {
  font-size: 40px;
  color: #0bcaf4;
}
.separator,
.separator1 {
  width: 30%;
  border-top: 1px solid #000;
  margin: 10px auto;
}
.development-presentation {
  display: flex;
  margin: 50px auto 0;
  font-size: 20px;
  color: #fff;
  gap: 5rem;
  padding: 10px 30px;
}
.development-presentation h2{
    font-size: 40px;
}
.desktop-image{
    display: none;
}
.scroll-appel{
    display: none;
}

/* -- PROJET -- */
.projet {
  /* color: white; */
  margin-top: 40px;
  padding: 30px 20px;
}
.projet h2 {
  font: 60px "Bebas Neue", sans-serif;
  margin: 0;
}
.projet img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.projet img:hover {
  transform: scale(0.9);
  box-shadow: 0px 4px 12.1px 0px rgba(0, 0, 0, 0.3);
}
.border-left {
  border-left: 3px solid black;
  margin-left: 10px;
}

.projet p,
.projet h3 {
  margin: auto;
  width: 95%;
}
.projet h3 {
  font-size: 25px;
}
.projet h3 {
  font-family: "Bebas Neue", sans-serif;
}

.projet p {
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.savoir-plus-bouton {
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  border: none;
  background-color: #20252c;
  color: white;
  cursor: pointer;
}
.savoir-plus-desktop {
  display: none;
}
.savoir-plus-bouton p {
  font-size: 25px;
}

/* Couleurs background des projets */
.opacity-all{
  opacity: 1;
  transition: 0.2s ease ;
}
.container-projet-dataviz {
  background-image: url(Dataviz-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container-projet-dataviz:hover{
  opacity: 1;
}
.container-projet-referencement {
  background: radial-gradient(50% 50% at 50% 50%, #a58bcc 0%, #7a58ab 100%);
}

.container-projet-referencement:hover{
  opacity: 1;
}
.container-projet-jardin {
  background: radial-gradient(50% 50% at 50% 50%, #dae3a1 0%, #bbc963 100%);
}
.container-projet-jardin:hover{
  opacity: 1;
}
.projet3 {
  background: radial-gradient(50% 50% at 50% 50%, #3c97c5 0%, #1c6990 100%);
}
.projet4 {
  background: radial-gradient(50% 50% at 50% 50%, #f2de7a 0%, #bcaa4f 100%);
}
.projet5 {
  background: radial-gradient(50% 50% at 50% 50%, #12324f 0%, #021323 100%);
}
.projet6 {
  background: radial-gradient(50% 50% at 50% 50%, #191a1e 0%, #0d0e12 100%);
}
.projet7 {
  background: radial-gradient(50% 50% at 50% 50%, #404040 0%, #292929 100%);
}

/* PROJET DE COULEURS CLAIR */

/* PROJET DE COULEURS FONCÉ */

.projet5 h2,
.titre-p1-2,
.projet6 h2,
.titre-p6,
.projet7 h2,
.titre-p7,
.projet3 h2,
.titre-p3,
.projet1-2 h2,
.titre-p5 {
  color: #ffffff;
}

.objectif {
  text-align: center;
}
.objectif-flex {
  text-align: left;
  display: flex;
}
.info-flex {
  display: flex;
}
.icon-plus {
  background-color: #22452c;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.objectif p {
  margin-left: 20px;
}

h4 {
  margin: 0;
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.infos {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 5px;
  gap: 1em;
  justify-content: center;
  font-weight: 800;
  background-color: #ffffff;
}
.etude {
  width: 35px;
}
.langage,
.softskill {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
.langage div,
.softskill div {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.categorie {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.competence-dev {
  background-color: #22452c;
}
.competence-dev h4,
.probleme-solution h4,
.bilan h4 {
  text-align: center;
}
.probleme-solution {
  background-color: rgb(119, 57, 57);
}
.separator,
.separator1 {
  width: 30%;
  border-top: 3px solid #000;
}
.bilan {
  background-color: rgb(57, 87, 119);
}
.hidden {
  display: none;
  padding: 0 15px;
  height: 0px;
  opacity: 0;
}
.retour-projet {
  text-align: center;
  display: flex;
  margin: auto;
}
.description-savoir-plus {
  background-color: #cdf8d9;
}
@media (min-width: 700px) {
  .projet h2 {
    font-size: 90px;
  }

  .projet img {
    display: block;
    margin: auto;
    width: 80%;
    object-fit: contain;
  }
  .projet-titre {
    margin: auto;
    width: 80%;
  }
  .projet h3 {
    margin-left: auto;
  }
  .border-left {
    margin-left: 20px;
  }
  .projet h3 {
    font-size: 30px;
  }
  .projet p {
    font-size: 20px;
  }
  .savoir-plus-bouton {
    margin-top: 10px;
    width: 80%;
  }
  .savoir-plus-bouton p {
    font-size: 25px;
    text-align: center;
  }
}
@media(min-width:800px){
  .langage,.softskill{
    text-align: center;
  }
  .objectif{
    margin: auto;
    width: 70%;
  }
}
@media (min-width: 950px) {
  .projet img {
    width: 80%;
    object-fit: contain;
  }
  .projet {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .projet:hover img {
    transition: 0.2s ease;
    transform: scale(1.1);
  }
  .projet a {
    width: 80%;
  }
  .savoir-plus-phone {
    display: none;
  }
  .savoir-plus-desktop {
    display: flex;
  }
  .savoir-plus p {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .development-presentation img {
    display: block;
    width: 35%;
  }
}
@media(min-width:1100px){
  .categories{
    display: flex;
  }
  .categorie{
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .scroll-appel {
    display: block;
    position: relative;
    bottom: 5vh;
    left: 65vw;

  }
}
