h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.h1-1 {
  font-size: 80px;
}
.h1-2 {
  color: #FFE817;
}
h2 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 50px;
  color: white;
}
.projet p {
  margin: auto;
  font-size: 20px;
  width: 80%;
  margin-bottom: 30px;
}
.separator,
.separator1 {
  width: 30%;
  border-top: 1px solid #000;
  margin: 10px auto;
}
.perso-desktop {
  display: none;
}
.presentation-dev {
  display: flex;
  margin: auto;
  margin-top: 50px;
  font-size: 20px;
  color: #fff;
  gap: 5rem;
  padding-left: 30px;
  padding-right: 30px;
}
.appelle-scroll {
  display: none;
}
.projet {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.projet-link {
  text-decoration: none;
}
.projet-link h2 {
  color: #20252c;
}
.projet-link img {
  width: 100%;
  object-fit: cover;
}
.projet1 {
  background: radial-gradient(50% 50% at 50% 50%, #4D80BD 0%, #406A9C 100%);
}
.projet1-2 {
  background: radial-gradient(50% 50% at 50% 50%, #FFD4A8 0%, #DFA86F 100%);
}
.projet2 {
  background: radial-gradient(50% 50% at 50% 50%, #B9005C 0%, #99034E 100%);
}
.projet3 {
  background: radial-gradient(50% 50% at 50% 50%, #3D97C5 0%, #3584AC 100%);
}
.projet4 {
  background: radial-gradient(50% 50% at 50% 50%, #D9728C 0%, #B05D72 100%);
  
}
.projet5 {
  background: radial-gradient(50% 50% at 50% 50%, #4B72B2 0%, #3C5D92 100%);
}
.projet6 {
  background: radial-gradient(50% 50% at 50% 50%, #FFC2A2 0%, #D3A187 100%);
}

.titre-p{
  color: white;
}


@media (min-width: 950px) {
  .projet img {
    width: 50%;
    position: relative;
    left: -50px;
  }
  .projet-link {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .projet-link:hover img {
    transition: 0.2s ease;
    transform: scale(1.3);
    box-shadow: 0px 4px 12.1px 0px rgba(0, 0, 0, 0.30);
  }
  .projet-link h2 {
    font-size: 40px;
    width: 50%;
    margin-left: 80px;
  }
  .titre-p{
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .perso-desktop {
    display: block;
    width: 45%;
  }
}
@media (min-width: 1200px) {
  .separator1 {
    display: none;
  }
  h1 {
    font-size: 60px;
  }
  .h1-1 {
    font-size: 100px;
  }
  .perso-desktop {
    display: block;
  }
  .presentation-dev img {
    width: 500px;
  }
  .presentation-dev {
    padding-left: 20px;
    padding-right: 20px;
  }
  .appelle-scroll {
    display: block;
    position: relative;
    bottom: 10vh;
    left: 65vw;
  }
  .projet img {
    width: 30%;
  }
  .projet {
    display: block;
    flex-direction: column;
  }
  .container-projet {
    display: flex;
    flex-wrap: wrap;
  }
}
