h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.h1-1 {
  font-size: 80px;
}
.h1-2 {
  color: #0bcaf4;
}
h2 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 50px;
}
.projet p {
  margin: auto;
  font-size: 20px;
  width: 80%;
  margin-bottom: 30px;
}
.separator,
.separator1 {
  width: 30%;
  border-top: 1px solid #000;
  margin: 10px auto;
}
.perso-desktop {
  display: none;
}
.presentation-dev {
  display: flex;
  margin: auto;
  margin-top: 50px;
  font-size: 20px;
  color: #fff;
  gap: 5rem;
  padding-left: 30px;
  padding-right: 30px;
}
.appelle-scroll {
  display: none;
}
.projet {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.projet-link {
  text-decoration: none;
}
.projet-link h2 {
  color: #20252c;
}
.projet-link img {
  width: 100%;
  object-fit: cover;
}
.projet1 {
  background: radial-gradient(50% 50% at 50% 50%, #92e3a9 0%, #4d9e64 100%);
}
.projet1-2 {
  background: radial-gradient(50% 50% at 50% 50%, #a58bcc 0%, #7a58ab 100%);
}
.projet2 {
  background: radial-gradient(50% 50% at 50% 50%, #dae3a1 0%, #bbc963 100%);
}
.projet3 {
  background: radial-gradient(50% 50% at 50% 50%, #3c97c5 0%, #1c6990 100%);
}
.projet4 {
  background: radial-gradient(50% 50% at 50% 50%, #f2de7a 0%, #bcaa4f 100%);
}
.projet5 {
  background: radial-gradient(50% 50% at 50% 50%, #12324f 0%, #021323 100%);
}
.projet6 {
  background: radial-gradient(50% 50% at 50% 50%, #191a1e 0%, #0d0e12 100%);
}
.projet7 {
  background: radial-gradient(50% 50% at 50% 50%, #404040 0%, #292929 100%);
}
.projet5 h2,.titre-p1-2,
.projet6 h2,.titre-p6,
.projet7 h2,.titre-p7,
.projet3 h2,.titre-p3,
.projet1-2 h2,.titre-p5 {
  color: #ffffff;
}
.titre-p1, .titre-p2, .titre-p4{
  color: #20252c;
}


@media (min-width: 950px) {
  .projet img {
    width: 50%;
    object-fit: contain;
  }
  .projet-link {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .projet-link:hover img {
    transition: 0.2s ease;
    transform: scale(1.2);
    box-shadow: 0px 4px 12.1px 0px rgba(0, 0, 0, 0.30);
  }
  .projet-link h2 {
    font-size: 40px;
    width: 50%;
    margin-left: 80px;
  }
  .titre-p{
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .perso-desktop {
    display: block;
    width: 45%;
  }
}
@media (min-width: 1200px) {
  .separator1 {
    display: none;
  }
  h1 {
    font-size: 60px;
  }
  .h1-1 {
    font-size: 100px;
  }
  .perso-desktop {
    display: block;
  }
  .presentation-dev img {
    width: 500px;
  }
  .presentation-dev {
    padding-left: 20px;
    padding-right: 20px;
  }
  .appelle-scroll {
    display: block;
    position: relative;
    bottom: 10vh;
    left: 65vw;
  }
  .projet img {
    width: 30%;
  }
  .projet {
    display: block;
    flex-direction: column;
  }
  .container-projet {
    display: flex;
    flex-wrap: wrap;
  }
  .projet img {
    width: 40%;
    object-fit: cover;
  }
}
