footer{
    background-color: #343F52;
    background-image: url(./../images/index-main/bg-footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer p{
    margin: 0;
    font-size: 30px;
    color: white;
}