footer {
  background-color: #343f52;
  background-image: url(./../images/index-main/bg-footer.svg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer p {
  margin: 0;
  font-size: 30px;
  color: white;
}
.rs-wrap {
    margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.rs-wrap a {
 text-decoration: none;
 color: rgb(0, 0, 0);
}


.github-rs,
.linkedin-rs {
    font-size: 25px;
    background-color: rgb(255, 255, 255);
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
}


.github-rs:hover ,
.linkedin-rs:hover {
    background-color: #8b8b8b;
    color: white;
}
