.projects {
  font-family: "Bebas Neue", sans-serif;
  color: #ffffff;
  font-size: 30px;
  background-image: url(./../images/index-main/bg-project11.svg);
  background-repeat: none;
  overflow: hidden;
  background-size: cover;
}

.projets {
  margin-top: 35vh;
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
}

.projet {
  position: relative;
  overflow: hidden;
  display: flex;
  border-bottom: 10px solid #f47500;
}
.projet1,
.projet2,
.projet3,
.projet4 {
  border-bottom: 10px solid #0bcaf4;
}

.projet img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 400px;
  height: 250px;
  filter: grayscale(80%);
  overflow: hidden;
}
.projet img:hover {
  transform: scale(1.5) rotate(-4deg);
  filter: none;
  opacity: 0.9;
  filter: blur(2px);
}

.description-projet {
  text-align: center;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
}

.projet:hover .description-projet {
  opacity: 1;
  background-color: #f47500;
  color: #20252c;
  padding: 5px 10px;
  width: 60%;
}

.projet1:hover .description-projet-1,
.projet2:hover .description-projet-2,
.projet3:hover .description-projet-3,
.projet4:hover .description-projet-4 {
  background-color: #0bcaf4;
}

.competence {
  margin: auto;
  justify-content: center;
  text-align: center;
  opacity: 0;
}
.button-projets {
  flex-direction: column;
  padding-left: 15px;
  margin-right: 15px;
}

.plus-projet {
  color: #20252c;
  padding: 10px 40px;
  transition: 0.1s ease-in;
}
.plus-projet:hover {
  padding-left: 80px;
}
.plus-projet1 {
  background-color: #0bcaf4;
  border: solid 2px #0bcaf4;
}
.plus-projet2 {
  background-color: #f47500;
  border: solid 2px #f47500;
}
.plus-projet3 {
  background-color: #ffe817;
  border: solid 2px #ffe817;
}
.plus-projet4{
  background-color: #17FF21;
  border: solid 2px #17FF21;
}
.plus-projet1:hover {
  border: solid 2px #0bcaf4;
  color: #0bcaf4;
}
.plus-projet2:hover {
  border: solid 2px #f47500;
  color: #f47500;
}
.plus-projet3:hover {
  border: solid 2px #ffe817;
  color: #ffe817;
}
.plus-projet4:hover{
  border: solid 2px #17FF21;
  color: #17FF21;
}
.plus-projet:hover {
  background-color: #20252c;
}
.projects h3 {
  margin-top: 100px;
  text-align: center;
}
.plus-projet .video {
  stroke: #20252c;
}
.plus-projet:hover .video {
  stroke: #f47500;
}
.plus-projet .code {
  stroke: #20252c;
}
.plus-projet:hover .code {
  stroke: #0bcaf4;
}
.plus-projet .pen {
  stroke: #20252c;
  fill: #ffffff00;
}
.plus-projet .creation{
  stroke: #20252c;
}
.plus-projet:hover .creation{
  stroke: #17FF21;
}
.plus-projet:hover .pen {
  stroke: #ffe817;
}

.plus-projet-link {
  text-decoration: none;
  color: #20252c;
}

.plus-projet:hover a {
  text-decoration: none;
  color: #0bcaf4;
}

.ligne-continue {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
}
.arrow-projet {
  margin-top: 100px;
  text-align: center;
  animation: arrowUpDown 1.5s infinite;
}

.arrow-projet img {
  transform: rotate(180deg);
}
.competence-desktop {
  display: none;
}
@keyframes arrowUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
@media(min-width:500px){
  .plus-projet {
    color: #20252c;
    padding: 10px 50px;
    transition: 0.1s ease-in;
    margin-left: 50px;
    margin-right: 50px;
  }
  .plus-projet:hover {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 850px) {
  .competence-desktop {
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
    opacity: 0;
  }
  .competence {
    display: none;
  }
  .plus-projet {
    padding: 10px 10px;
    margin-left:200px ;
    margin-right: 200px;
  }
}
@media (max-width: 959px) {
  .projet img {
    width: 600px;
    height: 350px;
  }
}
@media (min-width: 1230px) {
  .button-projets {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 50px 0;
    padding-bottom: 50px;
  }
  .plus-projet {
    color: #20252c;
    padding: 10px 70px;
    transition: 0.1s ease-in;
    margin: 0;
  }
  .plus-projet:hover {
    padding-left: 100px;
    padding-right: 100px;
  }
}
