/* -- NAVIGATION -- */

nav {
  display: flex;
  justify-content: space-between;
  background-color:#253a6fbc ;
  
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.website-logo {
  width: 50px;
  margin-left: 30px;
  margin-top:5px;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  margin-left: auto;
  padding-right: 50px;
  padding-top: 10px;
}

ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #ffb800;
  transition: width 0.2s ease-in-out;
}
ul li:hover::after {
  width: 100%;
}
li a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}
li a:hover {
  color: #ffb800;
}

@media (min-width: 648px) {
  nav {
    padding-top: 10px;
    padding-bottom:0px;
  }
  .website-logo{
    padding-top: 0;
  }
  ul {
    gap: 3em;
    padding-top: 0;
  }
  
  li a {
    font-size: 16px;
  }
  li {
    position: relative;
  }
}
